<div class="code-runner-container mat-elevation-z4">
    <div class="instruction-text">
        <p>Select a programming language from the dropdown, and the code editor will be pre-filled with sample code.
            Write your code, input any required data, and click "Run Code" (or Ctrl+Enter) to see the output.</p>
    </div>
    <div class="toolbar">
        <mat-form-field appearance="outline" class="language-select">
            <mat-label>Language</mat-label>
            <mat-select [(ngModel)]="selectedLanguage" (selectionChange)="onLanguageChange($event.value)">
                <mat-option *ngFor="let language of languages" [value]="language">{{ language }}</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" class="run-button" (click)="runCode()" [disabled]="loadingRun">
            <mat-icon>play_arrow</mat-icon>
            <span *ngIf="!loadingRun">Run Code</span>
            <mat-spinner *ngIf="loadingRun" diameter="20"></mat-spinner>
        </button>
    </div>

    <as-split direction="horizontal" class="write-section">
        <as-split-area size="50">
            <div class="editor-container">
                <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
            </div>
        </as-split-area>

        <as-split-area size="50">
            <div class="input-output-container">
                <div class="input-output-content">
                    <div class="io-header">
                        <span>Input</span>
                        <button mat-icon-button (click)="copyText(input)" matTooltip="Copy input">
                            <mat-icon>content_copy</mat-icon>
                        </button>
                    </div>
                    <textarea [(ngModel)]="input" class="io-textarea" placeholder="Enter input data..."></textarea>

                    <div class="divider" (mousedown)="onMouseDown($event)"></div>

                    <div class="io-header">
                        <span>Output</span>
                        <button mat-icon-button (click)="copyText(output)" matTooltip="Copy output" *ngIf="output">
                            <mat-icon>content_copy</mat-icon>
                        </button>
                    </div>
                    <div *ngIf="!output && !error && !loadingRun" class="output-placeholder">
                        Click Run to see output
                    </div>
                    <div *ngIf="loadingRun" class="output-placeholder">Running...</div>
                    <pre *ngIf="output && !loadingRun" class="io-output">{{ output }}</pre>
                    <div *ngIf="error && !loadingRun" class="error-message">
                        <mat-icon color="warn">warning</mat-icon> {{ cleanError }}
                    </div>
                </div>
            </div>
        </as-split-area>
    </as-split>
</div>