<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Old Password</mat-label>
            <input matInput formControlName="oldPassword" type="password" />
            <mat-error *ngIf="changePasswordForm.get('oldPassword')?.invalid">
                Old password is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>New Password</mat-label>
            <input matInput formControlName="newPassword" type="password" />
            <mat-error *ngIf="changePasswordForm.get('newPassword')?.invalid">
                New password is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Confirm New Password</mat-label>
            <input matInput formControlName="confirmNewPassword" type="password" />
            <mat-error *ngIf="changePasswordForm.get('confirmNewPassword')?.invalid || passwordsDoNotMatch()">
                Confirm new password does not match.
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">Change</button>
</div>