<app-header></app-header>
<mat-card class="profile-card">
    <mat-card-header>
        <mat-card-title>Basic Info</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="profile-info" *ngIf="!editMode">
            <div class="profile-item">
                <mat-icon>person</mat-icon>
                <span class="profile-label">Name</span>
                <span class="profile-value">{{ user.name }}</span>
            </div>
            <div class="profile-item">
                <mat-icon>email</mat-icon>
                <span class="profile-label">Email</span>
                <span class="profile-value">{{ user.email }}</span>
            </div>
            <div class="profile-item">
                <mat-icon>account_circle</mat-icon>
                <span class="profile-label">Username</span>
                <span class="profile-value">{{ user.username }}</span>
            </div>
            <!-- <div class="profile-item">
                <mat-icon>work</mat-icon>
                <span class="profile-label">Role</span>
                <span class="profile-value">{{ user.role }}</span>
            </div> -->
        </div>

        <form [formGroup]="profileForm" *ngIf="editMode" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" />
                <mat-error *ngIf="profileForm.get('name')?.invalid">
                    Name is required.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" />
                <mat-error *ngIf="profileForm.get('email')?.invalid">
                    Please enter a valid email.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" />
                <mat-error *ngIf="profileForm.get('username')?.invalid">
                    Username is required.
                </mat-error>
            </mat-form-field>

            <div class="form-actions">
                <button mat-raised-button color="primary" type="submit" [disabled]="profileForm.invalid">Save</button>
                <button mat-raised-button color="warn" type="button" (click)="cancelEdit()">Cancel</button>
                <button mat-raised-button color="accent" type="button" (click)="openChangePasswordDialog()">Change
                    Password</button>
            </div>
        </form>
    </mat-card-content>

    <mat-card-actions *ngIf="!editMode">
        <button mat-raised-button color="primary" (click)="editMode = true">Edit Profile</button>
        <button mat-raised-button color="accent" (click)="openChangePasswordDialog()">Change Password</button>
    </mat-card-actions>
</mat-card>